@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   
}

body {
  margin: 0;
 font-family: 'italiana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: #F5E8C7;
 /* padding: 0 3rem; */
}

@media screen and (max-width:940px) {
    body {
/* padding: 0px 16px; */
    }
  }

code {
 font-family: 'italiana', sans-serif;
}


